---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import TrustStrip from '../components/TrustStrip.astro';
import Services from '../components/Services.astro';
import HowWeWork from '../components/HowWeWork.astro';
import WhyBenfort from '../components/WhyBenfort.astro';
import CTABand from '../components/CTABand.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---
<Layout>
  <Nav />
  <main>
    <Hero />
    <TrustStrip />
    <Services />
    <HowWeWork />
    <WhyBenfort />
    <CTABand />
    <Contact />
  </main>
  <Footer />
</Layout>
